<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TEN Starter Project</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>TEN Starter Project</h1>
</body>
</html>
