<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TENS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1 class="p-16 text-4xl font-bold">TENS</h1>
</body>
</html>
